*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'DM Sans', 'sans-serif';
}

/* css para js */

.feedback-text {
    display: none;
  }

/* fim css para js */

:root{
    --azul: #1E0E62;
    --cinza_background: #F9F9F9;
    --cor_fonte: #151439;
    --opacidade: .30;
    --margin_sections: 0 16.5rem;
    --space10: 1rem;
    --space20: 2rem;
    --space30: 3rem;
    --space40: 4rem;
    --space70: 7rem;
    --space100: 10rem;



}

header{
    width: 100dvw;
    height: 18vmin;
    display: flex;
    align-items: center;
    margin-bottom: var(--space70);
    
}

nav{
    box-sizing: border-box;
    padding: var(--margin_sections);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width:25%;
    margin-right: 16%;
    
    
}

nav a, h1{
    color: var(--azul);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    
}

/* ESTILIZAÇÃO DA PRIMEIRA SECTION */

#section1{
    width: 100%;
    display: flex;
    column-gap: 6rem;
    padding: var(--margin_sections);
    padding-top: var(--space40);
    box-sizing: border-box;
    
    
    
    
}

.textos_section1{
    width: 70%;
}
.textos_section1 h1{
    overflow: hidden;
    color: var(--azul);
    font-size: 90px;
    font-weight: 800;
    line-height: 5rem;
    margin-bottom: var(--space20);
    margin-top: var(--space40);
}
.textos_section1 p{
    color: var(--cor_fonte);
    opacity: var(--opacidade);
    font-size: 30px;
    width: 70%;
    font-weight: 500;
    margin-bottom: var(--space70);
}
.textos_section1 a{
   
    padding: 1rem 3.5rem;
    background-color: var(--azul);
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    color: white; 
}
.imagem_section1{
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: var(--space70);
    overflow-y: visible;
}
.imagem_section1 img{
    width: 100%;
    height: 31rem;
    object-fit: cover;
    z-index: 999;
    
}

/* ESTILIZAÇÃO DA SEGUNDA SECTION */

#section2{
    width: 100%;
    display: flex;
    column-gap: var(--space30);
    flex-direction: row;
    padding: var(--margin_sections);
    padding-bottom: var(--space70);
    background-color: var(--cinza_background);
    
}
.imagem_section2{
    margin-top: var(--space100);
    width: 38%;
}
.imagem_section2 img{
    width: 100%;
    height: 620px;
}

.textos_section2{
    width: 62%;

}
.textos_section2 h1{
    margin-top: 20rem;
    color: var(--azul);
    font-size: 66px;
    font-weight: 800;
    margin-bottom: var(--space20);
}
.textos_section2 p{
    text-align: justify;
    color: var(--cor_fonte);
    opacity: .66;
    font-size: 30px;
    width: 100%;
    min-height: 1rem;
    font-weight: 500;
    margin-bottom: var(--space70);
}

/* ESTILIZAÇÃO DA TERCEIRA SECTION */

#section3{
    padding: var(--margin_sections);
    width: 100%;

}

.textos1_section3{
    padding-top: var(--space70);
    width: 100%;
    border-bottom: 2.5px solid rgb(21, 20, 57, 0.1);
    
}
.textos1_section3 h1{
color: var(--azul);
font-size: 66px;
font-weight: 800;
}
.textos1_section3 p{
    text-align: justify;
    color: var(--cor_fonte);
    opacity: .66;
    font-size: 28px;
    padding-top: var(--space20);
    width: 96%;
    min-height: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    
}
.textos2_section3{
    width: 100%;
    margin-top: var(--space70);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding-bottom: var(--space40);
    
}
.texto1{
    width: 50%;

}
.texto1 h1{
    font-size: 24px;
    font-weight: 800;
    color: var(--azul);
}
.texto1 p{
    width: 88%;
    margin-top: var(--space20);
    font-size: 24px;
    font-weight: 500;
    color: #151439;
    opacity: .66;
}
.different_padding{
    width: 88%;
    margin: 0 !important;
    font-size: 24px;
    font-weight: 500;
    color: #151439;
    opacity: .66;
}

/* ESTILIZAÇÃO DA QUARTA SECTION */

#section4{
    padding: var(--margin_sections);
    width: 100%;
    background-color: var(--cinza_background);
    display: flex;
}
.textos_section4{
    padding-top: var(--space100);
    width: 60%;
}
.textos_section4 h1{
    font-size: 66px;
    font-weight: 800;
    color: var(--azul);
}
.textos_section4 li{
    /* display: flex; */
}

.lista{
    
    font-size: 28px;
    color: var(--azul);
    opacity: .80;
    font-weight: 800;
}
.textos_section4 li{
    text-align: justify;
    font-size: 28px;
    font-weight: 500;
    opacity: .66;
    color: var(--cor_fonte);

}



